@import "../../variables";

#app-root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(0,59,69,1) 0%,rgba(7,87,91,1) 50%,rgba(0,59,69,1) 100%);
}
