@media only screen and (orientation: landscape) {
  #app-root {
    height: 100%; } }
#currentvalue-container {
  display: flex;
  flex: 1 1 auto;
  padding-bottom: 1.5em; }
  #currentvalue-container #value-icon-container {
    display: flex;
    align-items: center;
    width: 20%; }
    #currentvalue-container #value-icon-container #value-icon {
      color: white;
      margin: auto;
      font-size: 1.3em; }
  #currentvalue-container #values {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #currentvalue-container #values #currentvalue {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      color: #ffffff;
      font-size: 2em;
      margin: 0; }
    #currentvalue-container #values #minmax-container {
      display: flex;
      opacity: .8; }
      #currentvalue-container #values #minmax-container .minmax-icon {
        color: white;
        margin-right: .2em; }
      #currentvalue-container #values #minmax-container #max-value-icon {
        margin-left: 1em; }
      #currentvalue-container #values #minmax-container .minmax-value {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: #ffffff;
        font-size: 1em;
        margin: 0; }
  #currentvalue-container #arrow-icon-container {
    display: flex;
    align-items: center;
    width: 20%; }
    #currentvalue-container #arrow-icon-container #arrow-icon {
      color: white;
      margin: auto;
      font-size: 2em; }

@media only screen and (orientation: landscape) {
  #app-root {
    height: 100%; } }
#value-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  #value-container .location-header {
    font-size: 1em;
    opacity: .8;
    margin-top: .4em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: white;
    text-align: center; }
  #value-container #indoor-values-container {
    background-color: #07575b;
    flex-grow: 1; }

#graph-container #line-chart {
  width: 100%;
  border: solid 1px blue; }

@media only screen and (orientation: landscape) {
  #app-root {
    height: 100%; } }
#header-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  min-height: 3em; }
  #header-container #header {
    flex: 1 1 auto;
    text-align: center;
    margin: .4em;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5em; }
  #header-container #graph-icon {
    position: absolute;
    width: 1.75em;
    height: 1.5em;
    right: 1em;
    top: 0.75em; }
  #header-container #back-icon {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    left: 0.3em;
    top: 0.9em; }

@media only screen and (orientation: landscape) {
  #app-root {
    height: 100%; } }
#history-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  #history-container #history-navbar {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    min-height: 2em; }
    #history-container #history-navbar p {
      text-align: center;
      margin: 0;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 0 1em 0 0;
      width: 25%;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 300;
      color: #ffffff; }
    #history-container #history-navbar .active-tab {
      background-color: rgba(102, 164, 172, 0.8); }

@media only screen and (orientation: landscape) {
  #app-root {
    height: 100%; } }
#app-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #003b45; }

@media only screen and (orientation: landscape) {
  #app-root {
    height: 100%; } }
html {
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: auto; }

/*# sourceMappingURL=main.css.map */
