@import "../../js/components/CurrentValue/Currentvalue.scss";
@import "../../js/components/Graph/Graph.scss";
@import "../../js/components/Header/Header.scss";
@import "../../js/components/History/History.scss";
@import "../../js/components/Menu/Menu.scss";
@import "../../js/components/Root/Root.scss";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}