@import "../../variables";

#header-container {
  background-color: rgba(0,0,0,.6);
  display: flex;
  min-height: 3em;

  #header {
    flex: 1 1 auto;
    text-align: center;
    margin: .4em;
    color: $white;
    font-family: $font-family-main;
    font-weight: $font-weight-main;
    font-size: 1.5em;
  }

  #graph-icon {
    position: absolute;
    width: 1.75em;
    height: 1.5em;
    right: 1em;
    top: 0.75em;
  }

  #back-icon {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    left: 0.3em;
    top: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  #header {
    font-size: 2em !important;
  }

  #graph-icon {
    top: 1.4em !important;
  }

  #back-icon {
    top: 1.4em !important
  }
}
