@import "../../variables";

#history-container {
  display: flex;
  flex-direction: column;

  #history-navbar {
    background-color: rgba(0,0,0,.6);
    display: flex;
    min-height: 2em;

    p {
      text-align: center;
      margin: 0;
      padding-top: .5em;
      padding-bottom: .5em;
      width: 25%;
      font-family: $font-family-main;
      font-weight: $font-weight-main;
      color: $white;
      cursor: pointer;
    }

    #day-tab {
      border-radius: 1.5em 0 0 0;
    }

    #year-tab {
      border-radius: 0 1.5em 0 0;
    }

    .active-tab {
      background-color: rgba(102,164,172, .8);
    }
  }

  .history-header {
    display: flex;
    justify-content: center;
    padding-top: .8em;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, #003b45 45%, #003b45 55%, rgba(0, 0, 0, 0.1) 100%);
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding-bottom: .4em;

    span {
      @extend .history-arrow;
    }

    .history-arrow {
      width: 1em;
      height: 1em;
      padding-left: 1.1em;
      padding-right: 1.1em;
      align-self: center;
      cursor: pointer;
    }

    p {
      font-family: $font-family-second;
      font-weight: $font-weight-main;
      font-size: 1.1em;
      letter-spacing: .1em;
      color: $white;
      margin: 0;
      cursor: default;
    }
  }

  .history-graph-container {

  }

  .graph-header {
    text-align: center;
    margin-bottom: 0;
    font-size: .9em;
    letter-spacing: .1em;
    color: $white;
    font-family: $font-family-second;
    font-weight: $font-weight-main;
    cursor: default;
  }

}
