@import "../../variables";

#app-root {
  height: 100%
}

#history-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  #history-navbar {
    background-color: rgba(0,0,0,.4);
    display: flex;
    min-height: 2em;

    p {
      text-align: center;
      margin: 0;
      padding-top: .5em;
      padding-bottom: .5em;
      width: 25%;
      font-family: $font-family-main;
      font-weight: $font-weight-main;
      color: $white;
    }

    #day-tab {
      border-radius: 1.5em 0 0 0;
    }

    #year-tab {
      border-radius: 0 1.5em 0 0;
    }

    .active-tab {
      background-color: rgba(102,164,172, .8);
    }
  }

  .history-header {
    display: flex;
    justify-content: center;
    padding-top: .8em;
    background: linear-gradient(transparent, rgba(0,0,0,.1));
    border-bottom: 2px solid;
    border-color: rgba(102, 164, 172, 0.3);
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding-bottom: .2em;

    span {
      @extend .history-arrow;
    }

    .history-arrow {
      width: 1em;
      height: 1em;
      padding-left: .6em;
      padding-right: .6em;
      align-self: center;
    }

    p {
      font-family: $font-family-main;
      font-weight: $font-weight-main;
      font-size: 1.1em;
      color: $white;
      margin: 0;
    }
  }

  .history-graph-container {
      overflow: scroll;
  }

  .graph-header {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.3em;
    color: $white;
    font-family: $font-family-main;
    font-weight: $font-weight-main;
  }

}
