<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="./apple-icon.png" />

    <meta charset="UTF-8"/>
    <title>WeatherPi</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/weather-icons.css" />

</head>
<body>
    <div id="root"></div>
    <script src="built/bundle.js"></script>
</body>
</html>