@import "../../variables";

#currentvalue-container {
  display: flex;
  flex: 1 1 auto;
  padding-bottom: 1.2em;
  padding-top: .6em;

  #value-icon-container {
    display: flex;
    align-items: center;
    width: 20%;

    #value-icon {
      color: white;
      margin: auto;
      font-size: 1.3em;
    }
  }

  #values {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #currentvalue {
      font-family: $font-family-main;
      font-weight: $font-weight-main;
      color: $white;
      font-size: 1.8em;
      margin: 0;
    }

    #minmax-container {
      display: flex;
      opacity: .8;

      .minmax-icon {
        color: white;
        margin-right: .2em;
      }

      #max-value-icon {
        margin-left: 1em;
      }

      .minmax-value {
        font-family: $font-family-main;
        font-weight: $font-weight-main;
        color: $white;
        font-size: 1em;
        margin: 0;
      }
    }
  }

  #arrow-icon-container {
    display: flex;
    align-items: center;
    width: 20%;

    #arrow-icon {
      color: white;
      margin: auto;
      font-size: 2em;
    }

    .wi-direction-up-right {
      color: $light-turquoise !important;
    }

    .wi-direction-down-right {
      color: $yellow !important;
    }
  }
}

@media only screen and (min-width: 768px) {

  #value-icon-container {
    width: 10% !important;
    #value-icon {
      font-size: 1.8em !important;
    }
  }

  #currentvalue-container {
    padding-top: 1em !important;
    padding-bottom: 2em !important;

    #currentvalue {
      font-size: 3.3em !important;
    }
  }

  #minmax-container {
    .minmax-icon {
      font-size: 1.5em !important;
    }

    .minmax-value {
      font-size: 1.3em !important;
    }
  }

  #arrow-icon-container {
    width: 10% !important;

    #arrow-icon {
      font-size: 3em !important;
    }
  }

}
