$dark-turquoise: #003b45;
$turquoise: #07575b;
$white: #ffffff;
$light-turquoise: #23d8b1;
$yellow: #ddb351;
$font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-second: "OpenSans", OpenSans, Arial, sans-serif;
$font-weight-main: 300;

