@import "../../variables";

#history-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  #history-navbar {
    background-color: rgba(0,0,0,.4);
    display: flex;
    min-height: 2em;

    p {
      text-align: center;
      margin: 0;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 0 1em 0 0;
      width: 25%;
      font-family: $font-family-main;
      font-weight: $font-weight-main;
      color: $white;
    }

    .active-tab {
      background-color: rgba(102,164,172, .8);

    }

  }
}